<div id="main" role="main">
  <table id="posts">
    <tbody id="tiles" class="page">
      <% @pins.each do |pin| %>
        <tr class="post">
          <td>
            <%= link_to(image_tag(pin.image.thumb.url), pin) %>
            <p>
              <strong>Board:</strong><%= pin.board.title %><br/>
              <%= pin.board.title %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="hidden" %><%= paginate @pins %></div>
</div>
<br>